venv/
__pycache__/
*.py[cod]
.vscode/
.idea/
.DS_Store
.streamlit/

# Entornos virtuales
.venv/
.virtualenv/
*.pyo
*.pyd

# Archivos de entorno virtual ocultos (para algunos entornos en Linux/macOS)
.pip/
.python-version

actions-runner/
